@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  padding: 0%;
  margin: 0%;
  font-family: "Poppins", sans-serif;
}
.small-size {
  font-size: small;
}
.grey-text {
  color: #828282;
}
.dark-grey-text {
  color: #4b4646;
}
.grey-background {
  background: #fafafa;
}
.blue-texts {
  color: #6f77f1;
}
.navbar {
  padding-right: 5%;
}
.menu-hamburger {
  border: 0;
  background-color: white;
  font-size: 1.5rem;
}
.navbar-brand {
  margin: 2% 0 0 4%;
}
.navbar-brand p {
  color: red;
  font-weight: bolder;
  font-size: 4rem;
  margin: -128% 0 0 100%;
}
.navbar-nav {
  margin-left: 45%;
  justify-content: center;
  gap: 1vw;
}

.navbar-collapse button {
  width: 45vw;
  height: 7vh;
  margin-left: 30%;
}
.navbar-collapse img {
  width: 15%;
  margin-left: 45%;
}
.top-banner {
  padding: 5% 5% 0 5%;
  display: flex;
  flex-direction: column;
}
.banner-text {
  padding: 5% 0 5% 0;
  background-image: url("../images/topSection/back.png");
}
.heading {
  display: flex;
  flex-direction: row;
  padding-bottom: 5%;
}
.heading img {
  width: 35%;
  margin: 5% 0 0 -6%;
}
.banner-buttons {
  display: flex;
  flex-direction: row;
  gap: 10vw;
}
.start-btn {
  width: 120%;
}
.banner-buttons img {
  width: 30%;
}
.woman {
  width: 100%;
  position: relative;
}
.woman-img {
  width: 100%;
}

.team {
  width: 30%;
  position: absolute;
  bottom: 0%;
  left: 0%;
}
.manage-col {
  background: #ffffff;
  box-shadow: 0px 17px 33px -14px rgba(2, 22, 5, 0.07);
  border-radius: 5px;
}
.arrows {
  position: absolute;
  bottom: 0%;
  right: 0%;
}
.optimise {
  padding: 5%;
}
.optimise-text p {
  margin-top: 5%;
}
.optimise-col {
  display: flex;
  flex-direction: column;
}
.keyword,
.content,
.target,
.testing {
  width: 100%;
}
.one-logo,
.two-logo,
.three-logo,
.four-logo {
  left: 50%;
}
.blue-circle {
  right: 0%;
  width: 100%;
}

.optimise-item {
  border-bottom: 5px solid #ffffff !important;
}
.optimise-item:hover {
  border-bottom: 5px solid #717ae0 !important;
}

.leads-items:hover {
  box-shadow: 0px 34px 50px -17px rgba(2, 22, 5, 0.1);
}

.business {
  padding: 5% 15% 5% 15%;
}

.business-color {
  color: #6f77f1;
}

.leads {
  padding: 5% 10% 5% 10%;
  background-image: url("../images/leads/back.png");
}
.read-more {
  color: #6f77f1;
}
.choose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: #fafafa;
}
.yellow-btn {
  background: #fad725;
  color: black;
}
.choose-items:hover {
  box-shadow: 0px 34px 50px -17px rgba(2, 22, 5, 0.1);
}
.choose-lists {
  flex-direction: column;
}
.seo {
  flex-direction: column;
}
.seo-items {
  flex-direction: column;
}
.seo-img img {
  width: 100%;
}
.seo-list img {
  width: 101px;
  margin: auto;
}
.seo-list:hover {
  box-shadow: 5px 25px 37px rgba(2, 22, 5, 0.06);
}
.clients i {
  margin: auto;
}
.speed-heading {
  font-size: 55px;
}
.input-speed {
  background: #f2f2f2;
}
.plans {
  width: 18rem;
  transition: all 1s;
}
.plans-btn {
  all: unset;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 0.5rem;
}
.plans:hover {
  color: white !important;
  background-image: url("../images/plans/Mask-group.svg");
  background-size: cover;
  background-color: #6f77f1;
  transform: scale(1.1);
  z-index: 9;
}
.plans:hover .plans-btn {
  background-color: #fad725 !important;
  border-color: #fad725;
  color: #4b4646;
}
.plans:hover .plan-details {
  color: white !important;
}
.teams:hover {
  box-shadow: 0px 34px 50px -17px rgba(2, 22, 5, 0.1);
  border: 2px solid white !important;
}
.team-names:hover {
  color: #6f77f1;
}
.social-media-icon:hover {
  color: #6f77f1;
}
.subscribe-btn {
  background-color: #6f77f1;
  color: white;
  border-radius: 6px;
}
.subscribe-btn:hover {
  background-color: #ffffff;
  color: black;
}
.nuvosa-heading span {
  color: #bc424e;
  font-weight: bolder;
  font-size: 8rem;
}
.copyright-sec {
  border-top: 1px solid #eae5e5;
  font-size: 12px;
  font-weight: 200;
}

.testimonials-card {
  background-image: url("../images/swiper/quote.svg");
  background-repeat: no-repeat;
  width: 32rem;
}

.testimonials-card img {
  width: 50px;
  height: 50px;
}
.testimonials-card:hover {
  border: 1px solid white !important;
  box-shadow: 0px 34px 50px -17px rgba(2, 22, 5, 0.1);
}

@media screen and (min-width: 765px) {
  .heading h2 {
    font-size: 3.3rem;
  }
  .optimise-col {
    display: flex;
    flex-direction: row;
    gap: 4%;
  }
  .keyword,
  .content,
  .target,
  .testing {
    width: 20%;
  }
  .one-logo,
  .two-logo,
  .three-logo,
  .four-logo {
    width: 5vw;
    height: 7vh;
    left: 75%;
  }
  .blue-circle {
    right: 4%;
    width: 30%;
  }
}

@media screen and (min-width: 991px) {
  .navbar {
    padding-right: 6%;
  }
  .navbar-nav {
    margin-left: 50%;
  }
  .navbar-collapse button {
    width: 10vw;
    height: 7%;
    margin-left: 1%;
  }
  .navbar-collapse img {
    width: 5%;
    margin-left: 1%;
  }
  .heading h2 {
    font-size: 3rem;
  }
  .heading img {
    width: 25%;
    margin: 6% 0 0 -13%;
  }
  .banner-text {
    width: 50%;
  }
  .banner-buttons img {
    width: 20%;
    height: 100%;
  }
  .start-btn {
    width: 150%;
    height: 100%;
  }
  .top-banner {
    flex-direction: row;
  }
  .woman {
    width: 50%;
    padding: 0 5% 0 10%;
  }
  .woman-img {
    width: 100%;
  }
  .team {
    bottom: 8%;
  }
  .optimise-text {
    width: 50%;
  }
  .optimise-col {
    display: flex;
    flex-direction: row;
    gap: 5%;
  }

  .one-logo,
  .two-logo,
  .three-logo,
  .four-logo {
    left: 50%;
    width: 25%;
    height: 45%;
  }
  .keyword,
  .content,
  .target,
  .testing {
    width: 20%;
  }
  .blue-circle {
    right: 4%;
    width: 30%;
  }
  .choose-lists {
    flex-direction: row;
  }
  .seo {
    flex-direction: row;
  }
  .seo-img {
    width: 50%;
  }
  .seo-need {
    width: 50%;
  }
}
